<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Detalles</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Cinta selladora</td>
      <td>$15.000</td>
        <td><button class="btn btn-outline-primary" [routerLink]="['/productos','Cinta selladora']">Detalles</button></td>
    </tr>
   <tr>
      <th scope="row">2</th>
      <td>Tubo PVC 5m</td>
      <td>$20.000</td>
        <td><button class="btn btn-outline-primary" [routerLink]="['/productos','Tubo pvc 5m']">Detalles</button></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Alambre</td>
      <td>$5.000</td>
        <td><button class="btn btn-outline-primary" [routerLink]="['/productos','Alambre']">Detalles</button></td>
    </tr>
  </tbody>
</table>